django==3.2
Pillow
gunicorn

djangorestframework
djangoactionthrottle
django-cors-headers

djoser
djangorestframework_simplejwt
drf-yasg

redis
celery
celery[redis]
django-celery
django-redis

psycopg2-binary

black
flake8
pytest
pytest-django
django-debug-toolbar
