django==3.2
Pillow
gunicorn

djangorestframework
djangoactionthrottle

djoser
djangorestframework_simplejwt
drf-yasg

redis
celery
celery[redis]
django-celery
django-redis

psycopg2-binary

black
flake8
